*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background: #123456;
    color:white;
}

.opponent-field, .my-field {
    display:grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(10, 25px);
    margin: 50px auto;
}

.place{
    background:blue;
    border: 1px dashed lightblue;
}